ul.nav{
    display: inline-block;
}
ul.nav li{
    display: inline-block;
}
.nav li, .nav li a{
    padding: 10px;
    display: inline-block;
    color: #e4574e;
    font-weight: 600; 
}
.nav li span.active{
    color: rgb(119, 16, 16);
}
.single-item img{
    width: 100%;
}